tabel {
  border: 1px;
  border-collapse: collapse;
  padding: 0.8em;
}

thead th {

  border: 1px solid #000;
  font-family: bold;
  background-color: yellow;
  border-collapse: collapse;

}

td {
  border: 1px solid #000;

}

th {

}

img{
  width: 100px;
}

tr:nth-child(odd){
  background-color: #E7E9EC;
}
tr:hover {
  background-color: blue;
}

tbody t.right {
  text-align: right;
}

.radio{
  float: left;
}
.checkbox{
  
}
